<!-- No peeking....this is a secret. -->



{% extends "base.html" %}


{% block content%}
<div class="secret">
    <img class="secret-img1" src="https://media2.giphy.com/media/7rzbxdu0ZEXLy/giphy.gif"></img>
    <img class="secret-img2" src="https://vignette.wikia.nocookie.net/phineasandferb/images/c/c4/Portal_to_Mars.jpg/revision/latest/top-crop/width/360/height/450?cb=20121220154939">
    <img class="secret-img1" src="https://media2.giphy.com/media/7rzbxdu0ZEXLy/giphy.gif"></img>
</div>
{% endblock content %}

