{% extends "base.html" %}


{% block content %}
<div class="habit-show centerer">
    <h2 class="habit-header"> 
        {% if habit.is_negative %}
            {% if habit.number == 1 %}
            <p>{{habit.verb|title}} less than {{habit.number|floatformat:"-2"}} {{habit.noun_singular}} per day.</p>
            {% else %}
            <p>{{habit.verb|title}} fewer than {{habit.number|floatformat:"-2"}} {{habit.noun}} per day.</p>
            {% endif %}
        {% else %}
            {% if habit.number == 1 %}
            <p>{{habit.verb|title}} at least {{habit.number|floatformat:"-2"}} {{habit.noun_singular}} per day.</p>
            {% else %}
            <p>{{habit.verb|title}} at least {{habit.number|floatformat:"-2"}} {{habit.noun}} per day.</p>
            {% endif %}
        {% endif %}
    </h2>
    <div class="list-link-div v-center">
        <a href="{% url 'list_habits' %}" class="list-link">Return to Your Habits</a>
    </div>
</div>
<div class="graph-container">
    <canvas id="pie-chart"></canvas>
</div>
<div class="record-list">
    <h3>Here are your most recent records for this habit:</h3>
    <div class="record-panel">
        {% for record in habit.get_record_details %}
            {% if record.is_met %}
            <a href="{% url 'edit_record_h' pk=record.pk %}" class="record-tiny border-small met">
                <p class="emoji"> &#x1F600;</p>
                <p>{{record.date|date:"m/d/y"}}</p>
                <p>{{record.number|floatformat:"-2"}}</p>    
            </a>            
            {% elif record.number == 0 or record.number != null %}
            <a href="{% url 'edit_record_h' pk=record.pk %}" class="record-tiny border-small not-met">
                <p class="emoji"> &#x1F641;</p>
                <p>{{record.date|date:"m/d/y"}}</p>
                <p>{{record.number|floatformat:"-2"}}</p>  
            </a>              
            {% else %}
            <a href="{% url 'add_record_h' pk=habit.pk date=record.date %}" class="record-tiny border-small not-set">
                <p class="emoji"> &#x1F97A;</p>
                <p>{{record.date|date:"m/d/y"}}</p>
                <p>?</p> 
            </a>               
            {% endif %}               
        {% endfor %}
    </div>
</div>












<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script>
    function replaceBlanks(x) {
        if (x === "") {
            return null
        } else {
            return x
        }
    }


    let data = {{line_data|safe}}    
    let data2 = data.map(replaceBlanks)
    var config = {
      type: 'line',
      data: {
        datasets: [{
            data: data2,
            pointBackgroundColor: 'green',
            pointRadius: 5,
            borderColor: "green",
            label: 'Achieved',
            fill: false,
            spanGaps: true
        }, {
            data: {{target_data|safe}},
            pointBackgroundColor: 'lightgrey',
            pointRadius: 3,
            fill: false,
            label: "Goal",
            borderColor: "lightgrey",
            //borderDash: [4]
        }, {
            data: [],
            pointBackgroundColor: 'yellowgreen',
            pointRadius: 3,
            fill: false,
            label: "Average",
            borderColor: "yellowgreen",
            //borderDash: [4]
        }],
            labels: {{label_strings|safe}}
      },
      options: {
        responsive: true,
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
      }
    };

    window.onload = function() {
      var ctx = document.getElementById('pie-chart').getContext('2d');
      window.myPie = new Chart(ctx, config);
    };

</script>

{% endblock %}