{% extends "base.html" %}

{% block content %}
<div class="welcome-container v-space">
    <div class="paws">
        <p class="mirror">&#x1F43E;</p>
        <p>&#x1F43E;</p>
    </div>
    <div class="welcome-div v-center">
        <div class="center">
            <h2 class="welcome-header">Welcome to Habit Tracker!</h2>
        </div>
        <div class="center">
            <div class="login-div">
                <p>Welcome to your Habit Tracker.  Please login or register to continue.</p>
            </div>
        </div>
    </div>
    <div class="paws">
        <p>&#x1F43E;</p>
        <p class="mirror">&#x1F43E;</p>
    </div>
</div>
{% endblock %}