body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    font-family: 'Open Sans', sans-serif;
}


header {
    background-color: olive;
    height: 10%;
    margin: 0px 0px;
    color: white;
}

.header-box {
    display: flex;
    justify-content: space-between;
}

.header-left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 30px;
}

.header-right a {
    color: white;
    padding-right: 30px;
}

.header-p {
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 0;
}

.body-div {
    height: 90%;
    width: 95%;
    margin: 0 auto;
}

.v-center {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.welcome-el {
    padding-right: 25px;
}

.habit-pane {
    border: 1px solid black;
}


/* Form CSS */
.inline-radio {
	display: flex;
    border-radius: 3px;
	overflow: hidden;
}

.habit-form-div {
    border: 1px solid black;
}
/* End of form */

/* Line graph CSS */
.graph-container {
    width: 50%;
    margin: 0 auto;
    border: 1px solid black;
}





.met {
    background-color: rgb(98, 199, 98);
}

.not-met {
    background-color: rgb(253, 110, 110)
}











































.secret {
    display: flex;
    justify-content:center;
    margin-top: 75px;
}

.secret-img1 {
    width: 450px;
    height: 450px;
}

.secret-img2 {
    width: 25%;
    height: auto;
}